/* button */

.btn{
	border: 1px solid var(--colorBorder);
    font-size: 14px;
    padding-top: 10px;
    font-weight: 600;
    transition: all 0.3s;
}

.btn:hover{
background-color:var(--colorTextBody);
  color:#fff;
}

/* announcement-bar */

.announcement-bar{
	background: #a98c28;
    padding: 5px;
    color: #fff;}

/* search-bar */

#HeaderSearchForm{
min-width: 300px;
max-height:40px;
  margin-left:10px;
  margin-top:7px;
   
}

.site-header__search-input{font-size: 14px;}



::-webkit-input-placeholder {
  display: inline-block;
  opacity: 0.5;
  transition: all 0.3s ease-in-out;
  padding-right: .15em;
  white-space: nowrap;
}

input:focus::-webkit-input-placeholder {
  -webkit-transform: translateY(-125%);
  font-size: 75%;
  opacity: 0.7;
}

input.imitatefocus::-webkit-input-placeholder {
  -webkit-transform: translateY(-125%);
  opacity: 0.05
}

.ced-search .input-group-btn .btn{
	min-height: unset;
    padding: 0px;
    background: transparent;
    border: 0px;
    color: #fff;
    min-width: 44px;
}

#HeaderSearchForm{
 background: transparent !important;
    border: 0.5px solid #fff;
    color: #fff;
    border-radius: 26px;
}

.toolbar{padding-top: 5px;
    padding-bottom: 5px;}

#SiteHeader{padding:0px !important;}



/* slider */

.text-center .ced-header-border{
border-top: 1px solid #666666;
}


.hero__text-shadow .hero__subtitle{
margin: 30px 0px;
}

@media only screen and (min-width: 769px) {
.hero__title{
	font-weight: 400;
    font-style: normal;
    letter-spacing: 1px;
    line-height: 50px;
}
}

.theme-block{
	font-size: 40px;
    letter-spacing: 2px;
    color: #2d2d2d;
}

.enlarge-text{
	font-size: 15px !important;
    max-width: 650px;
    width: 100%;
    margin: auto !important;
    color: #5e5e5e;
}

.Wlh-Header__Icon svg{
	width: 24px;
    height: 24px;
    display: flex;
}

.section-header__title{
    font-weight: 500;
    letter-spacing: 1px;
}


.ced-custom-collection .collection-item__title--center{
	text-shadow:unset;
  	transform: translateY(10%) !Important;
    top: unset !important;
    bottom: 10%;
  	font-size: 28px;
    color: #000;
  	font-weight: 600;
  	display: flex;
  	align-items: center;
    flex-direction: column;
}

.collection-item--overlaid:after{
opacity:0 !important;}

.ced-custom-collection .ced-collection-link{
	font-size: 15px !important;
    font-family: 'Karla';
    letter-spacing: 0.8px !important;
    font-weight: 300;
  	position: relative;
  	margin-left: -15px;
  	
}
	.ced-custom-collection .ced-collection-link:after{
	content: '>';
    position: absolute;
    margin-left: 10px;
      transition: all 0.3s;}

.collection-item:hover .ced-collection-link:after{
margin-left: 18px;
}


/* product-card */

.grid-product__content{
	background: #f8f8f8;
    padding: 10px;
    border-radius: 5px;
}

.grid-product__title{
	display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 25px;
    letter-spacing: 1px !Important;
}

.grid-product__content .grid-product__price{
font-size: 15px;
}

@media only screen and (max-width: 1400px) {
  .grid-product__content .grid-product__price{
font-size: 15px;
}
}

/* slider */

.slide-arrow{
  position: absolute;
  top: 50%;
  margin-top: -15px;
}
.prev-arrow{
  left: -40px;
  width: 0;
  height: 0;
  border-left: 0 solid transparent;
  border-right: 15px solid #000;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
}
.next-arrow{
  right: -40px;
  width: 0;
  height: 0;
  border-right: 0 solid transparent;
  border-left: 15px solid #000;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
}



@media only screen and (max-width: 768px) {

  .prev-arrow{
  left: -15px
  }

  .next-arrow{right: -15px;}
  .site-header__search-input{color: #000;}
}

/* logobar */
.logo-bar{opacity:1 !Important;}


.collection-item__title{
	display: flex;
    flex-direction: column;
    gap: 20px;
    font-size: 38px;
    text-shadow: none;
}

.ced-collection-link{
	font-size: 16px !important;
    font-family: 'Karla';
    letter-spacing: 1px;
}

.collection-item__title--top-left{
	top: 80px !important;
    left: 50px;
}








/* newsletter-section */

.newsletter-section .h3{
font-size: 26px;
}

.theme-block{
	font-size: 18px;
    letter-spacing: 1px;
}

.newsletter__input-group{
max-width:600px;}

/* site-footer */

@media only screen and (min-width: 769px) {
  
  .site-footer{padding-bottom:0px;}
  
.site-footer .grid{
border-bottom: 1px solid #efefef;
    padding-bottom: 40px;
    margin-bottom: 20px;

}

.footer__title{
font-size: 18px;
}
}

.footer_description{
	font-size: 15px;
    max-width: 400px;
    color: #efefef;
}


/* responsive */


@media only screen and (max-width: 1200px) {
.grid-product__title{-webkit-line-clamp: 2;
line-height:18px;}
}

@media only screen and (max-width: 768px) {

  .hero__subtitle{margin:0px !important;
  font-size:15px;}
	
  .hero__title{line-height: 32px;}
  
  .collection-item__title--top-left{
  	top: 20px!important;
    left: 20px;
  }
  
  .collection-item__title{
  	gap: 14px;
    font-size: 28px;}
  
  .ced-custom-collection .collection-item__title--center{
  font-size: 20px;
  }
  .ced-custom-collection .ced-collection-link{
  font-size: 12px!important;}
    
  .section-header__title{font-size:22px;}
  
/* product-card */

.grid-product__content{padding: 5px;}

.grid-product__title{-webkit-line-clamp: 2;
line-height:18px;}

  .footer_description{font-size: 12px;}
  
  .newsletter-section .h3{font-size: 22px;}
  
}


@media only screen and (max-width: 1000px) {
  
  .background-media-text__container{
  height: unset !Important;}
  
  .theme-block{margin-bottom: 10px;
  font-size: 13px;}
  
}

/* collection-page */

/* quick-view */

.modal .product-single__title{
	font-size: 20px;
    letter-spacing: 1px;
    line-height: 28px;
}

.modal .rte >*{text-align: left !important;
font-size:14px;}

.modal__close {right:15px;}


.modal__centered-content::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #F5F5F5;
}

.modal__centered-content::-webkit-scrollbar
{
	width: 12px;
	background-color: #F5F5F5;
}

.modal__centered-content::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #000000;
}

.modal .product-block{margin-bottom: 10px;}

/* product-page */

.template-product .main-content , .template-product .background-media-text__text{background:#000;
 color:#fff;}

.template-product .main-content >*  , .template-product .product-block >* , .template-product .breadcrumb >*{color:#fff !Important;}


.template-product .product-single__title{
	font-size: 22px;
    line-height: 30px;
    letter-spacing: 1px;
}

.template-product .product-block{margin-bottom:15px;}